node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*


.env.local
#.env.production

nodejs/fcc/*.csv
nodejs/fcc/format
nodejs/scrapeformat.ts
nodejs/updateFormatDB.ts
nodejs/fcc/README.txt
pc-api-8177368621535267091-917-bf38379b6e40.json